@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">
    <h1>GigConnect</h1>
    <p class="lead">Connect bands and venues for a more effective booking manager</p>
    
</div>*@

<div class="row">
    <div class="col-lg-12">
        @*<div class="contentCol-trans" style="text-align: center; background-color: transparent;">
            <h1>GigConnect</h1>
        </div>*@
        <div class="home" style="text-align: center; background-color: transparent;">
            @*<h1>GigConnect</h1>*@
            <img id="infoDispLogo" src="~/Content/Images/gigConnectLogo.png" alt="logo1" />
            <p>"Connecting the DIY music scene to make booking shows BETTER, FASTER, and more Consistant. Join today with a band or venue account to start"</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="contentCol-info" style="text-align: center; background-color: transparent;">
            <h4>Fans</h4>
            <div class="bulletList">
                <ul>
                    <li>Find shows near you</li>
                    <li>Find bands near you</li>
                    <li>Keep up with <i>your</i> music scene</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="contentCol-info" style="text-align: center; background-color: transparent;">
            <h4>Bands</h4>
            <div class="bulletList">
                <ul>
                    <li>Find Venues in your area</li>
                    <li>Book shows and manage venue connections</li>
                    <li>Start playing!</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="contentCol-info" style="text-align: center; background-color: transparent;">
            <h4>Venues</h4>
            <div class="bulletList">
                <ul>
                    <li>Register any size Venue</li>
                    <li>Book shows and find Bands to play them</li>
                    <li>Never book a bad show again</li>
                </ul>
            </div>
        </div>
    </div>
</div>

